/* Apply the border radius from mat-card to the mat-tab-header*/
:host ::ng-deep mat-tab-header.mat-tab-header {
  border-radius: 4px 4px 0 0!important;
}

.tab-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  mat-card {
    padding: 0;
    width: 100%;
    margin: 128px;
    height: calc(100vh - 128px);
    overflow: hidden;

    mat-card-content {
      height: 100%;
      overflow: hidden;

      mat-tab-group {
        height: 100%;
        overflow: hidden;
      }
    }
  }
}
